<body>
    <div class="form-container align-x">
        <h1>Login</h1>
        <label for="first-name">Email</label>
        <input type="text">
        <label for="password">Password</label>
        <input type="text">
        <label for="password-confirmation">Confirm your password</label>
        <input type="number">
    </div>
</body>