<title> Login </title>

<body>
    <form action="" method="POST" class="form-container align-x cmb-4">
        <h1> Login </h1>

        <label for="email">Email</label>
        <input name="email" type="email">

        <label for="password">Password</label>
        <input name="password" type="password">

        <p>{{loginErrors}}</p>

        <button type="submit" class="form-accept-button"> Continue </button>
        <button type="button" onclick="homeRedirect()" class="form-cancel-button"> Cancel </button>

    </form>
</body>