<body>
    <form action="" method="POST" class="form-container align-x">
        <h1> Register </h1>

        <label for="email">Email</label>
        <input type="email">
        <label for="password">Password</label>
        <input type="password">
        <label for="password-confirmation">Confirm your password</label>
        <input type="password">

        <button class="form-accept-button">
            Continue
        </button>

        <button class="form-cancel-button">
            Cancel
        </button>

    </form>
</body>