<body>
    <div class="form-container align-x">
        <h1>REGISTER</h1>
        <label for="first-name">First name</label>
        <input type="text">
        <label for="last-name">Last name</label>
        <input type="text">
        <label for="phone-number">Phone number</label>
        <input type="number">
    </div>
</body>