<body>
    <form action="" method="POST" class="form-container align-x cmb-4">
        <h1> Register </h1>

        <label for="first name">First name</label>
        <input name="first_name" type="text">

        <label for="last name">Last name</label>
        <input name="last_name" type="text">

        <label for="Phone number">Phone number</label>
        <input name="phone_number" type="number">

        <label for="Role">Role</label>
        <input name="role" type="text">

        <label for="Status">Status</label>
        <input name="status" type="text">

        <label for="email">Email</label>
        <input name="email" type="email">

        <label for="password">Password</label>
        <input name="password" type="password">

        <label for="passwordConfirmation">Confirm your password</label>
        <input name="passwordConfirmation" type="password">

        <p>{{passwordStatus}}</p>

        <button type="submit" class="form-accept-button"> Continue </button>
        <button type="button" onclick="homeRedirect()" class="form-cancel-button"> Cancel </button>

    </form>
</body>