<body>
    <form action="" class="form-container align-x">
        <h1> Register </h1>

        <label for="email">Email</label>
        <input name="email" type="email">

        <label for="password">Password</label>
        <input name="password" type="password">

        <label for="passwordConfirmation">Confirm your password</label>
        <input name="passwordConfirmation" type="password">

        <p>{{loginErrors}}</p>

        <button type="submit" class="form-accept-button"> Continue </button>
        <button type="button" onclick="homeRedirect()" class="form-cancel-button"> Cancel </button>

    </form>
</body>