<body>
    <div class="choose-container flex-column align-x">
        <h1 class=""> Welcome to FastBite! </h1>
        <h3> Choose your role </h2>
    </div>

    <div class="choose-container flex-row align-x cmb-10 ">
        <a href="/login">
            <button class="user-select-button">
                <img src="" alt="">
                <p>hola</p>
            </button>
        </a>
        <a href="/register">
            <button class="user-select-button">
                <img src="" alt="">
                <p>hola</p>
            </button>
        </a>
    </div>

</body>