<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css ">
    <link rel="stylesheet" href="css/sizing.css ">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="js/redirect.js"></script>
    <script src="js/confirmation-screen.js"></script>
    <title>Document</title>
</head>


<body>
    <nav>
        <div class="container">
            <h1> Title </h1>
        </div>

        <ul>
            <li>
                <a href="/"> Home </a>
            </li>
            <li>
                <a href="/login"> Login </a>
            </li>
            <li>
                <a href="/register"> Register </a>
            </li>
            <li>
                <a href="/account-creation"> create account </a>
            </li>
            <li>
                <a href="/account-management"> account management </a>
            </li>
        </ul>
    </nav>



    {{{body}}}
</body>

</html>